.flex {
    display: flex;
}
.inline-flex {
    display: inline-flex;
}
.align-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.w-100 {
    width: 100%;
}